html {
  scroll-behavior: smooth;
}

/* body {
  background-color: black;
  color: white;
} */

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
  width: 800px;
  height: auto;
  aspect-ratio: 16 / 9;
}
