@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text-color: #eee;
  --bg-color: #222;
  --text-font: "Raleway", sans-serif;
  --headings-font: "Permanent Marker", cursive;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: khaki;
}

body {
  font-family: var(--text-font);
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    119deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(122, 205, 233, 1) 52%,
    rgba(0, 212, 255, 1) 100%
  );
}

a {
  color: greenyellow;
  transition: all 0.5s ease;
}

a:hover {
  color: gainsboro;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings-font);
}

h1 {
  margin-top: 0;
}

h3 {
  color: #ff0000;
  color: #00ff00;
  color: #0000ff;
  color: #f60;
  color: #456677;
  color: rgb(255, 255, 0);
  color: rgb(255, 0, 0);
  color: rgba(255, 0, 0, 0.5);
  color: #4297a8;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
  width: 800px;
  height: auto;
  aspect-ratio: 16 / 9;
}

#inicio {
  background-color: white;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
}

#jon-avatar {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  transition: all 3s ease-in-out;
  filter: blur(0.5rem);
  box-shadow: 10px 10px 5px 5px rgba(255, 255, 255, 0.5);
}

#jon-avatar:hover {
  transform: rotate(360deg);
  width: 300px;
  height: 300px;
  filter: blur(0);
}

.bg-pink {
  background-color: pink;
}

.bg-khaki {
  background-color: khaki;
}

.bg-skyblue {
  background-color: skyblue;
}

.text-red {
  color: red;
}

.text-orange {
  color: orange;
}

.text-blue {
  color: blue;
}

.font-1 {
  font-size: 1rem;
}

.font-1_5 {
  font-size: 1.5rem;
}

.font-2 {
  font-size: 2rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
